# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.out
coverage.html

# Dependency directories
node_modules
dist

# Environment files
.env
.env.local
.env.*.local

# Databases
*.db
*.sqlite

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Secrets & Replacement temporary files
secret-replace.*

# Playwright & E2E Test Results
playwright-report
test-results
.playwright
blob-report
frontend/playwright-report
frontend/test-results
frontend/.playwright
frontend/blob-report

# MD files
*.md
!README.md